.date-picker-container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.date-picker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 35em;
}

.date-picker {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px auto;
    cursor: pointer;
    user-select: none;
    flex-wrap: wrap;
}

.date-picker .dates {
    /* Should take entire width and begin underneath date picker */
    width: 80%;
    background-color: #3bc4ff;
    color: white;
    border-radius: 15px;
    font-family: 'Roboto Slab', serif;
    margin: 0.4rem;
}

.date-picker .dates .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 15px;
}

.arrow:hover {
    background-color: #91dcfc;
}

.arrow:active {
    background-color: #beeafd;
}

.days {
    display: grid;
    /* repeats 7 colums, each with 1 fraction of the width weight */
    grid-template-columns: repeat(7, 1fr);
    height: 200px;
    font-size: 0.9em;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 0rem 0.3rem;
}

.day-othermonth {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: #13a5e4;
}

.day:hover {
    background-color: #95dfff;
    color: #63D1FF;
}

.day:active {
    background-color: white;
    color: #63D1FF;
}

.days-of-week {
    font-size: 0.8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #3f3d56;
}

.days-of-week div {
    padding: 0.25rem 0rem;
}

.day.selected {
    background-color: white;
    color: #13a5e4;
}

.offscreen-right {
    transform: translateX(100%);
}

.blue {
    background: #3bc4ff;
}

.blue-text {
    color: #3bc4ff;
}