.date-picker-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-picker {
    position: relative;
    width: 100%;
    max-width: 320px;
    height: 60px;
    background-color: #81b645;
    margin: 30px auto;
    cursor: pointer;
    user-select: none;
}

.date-picker .dates {
    /* Should take entire width and begin underneath date picker */
    left: 0;
    right: 0;
    background-color: #63D1FF;
    color: white;
}

.date-picker .dates .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.arrow:hover {
    background-color: white;
}

.arrow:active {
    background-color: red;
}

.days {
    display: grid;
    /* repeats 7 colums, each with 1 fraction of the width weight */
    grid-template-columns: repeat(7, 1fr);
    height: 200px;
    font-size: 0.9em;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.day-othermonth {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: gray;
}

.day.selected {
    background-color: white;
    color: #63D1FF;
}

.days-of-week {
    font-size: 0.7em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: gray;
}