/* Removes the basic styling of the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    /* Background gradient */
    /*background: #DCE35B;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* Font family */
    font-family: 'Roboto Serif', sans-serif;
    font-size: 1.25rem;
}

header,
form {
    display: flex;
    justify-content: center;
}

header {
    color: white;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 2rem;
    height: 30vh;
    align-items: flex-end;
}

h1 {
    color: #81b645;  /* fallback for old browsers */
    padding: 1.5rem;
    text-align: center;
}

.form-container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.form-container {
    width: 80%;
    max-width: 35em;
    height: 60vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

form {
    flex-wrap: wrap;
    align-items: center;
    min-width: 10em;
}

.form-image {
    height: 100%;
}

.input {
    width: 80%;
    border: none;
    font-size: inherit;
    font-family: inherit;
    border-radius: 50px;
    padding: 0.85rem 0rem 0.65rem 0rem;
    margin: 0.4rem;
    color: white;
    background: #81b645;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #81b645, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #81b645, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.submit-outline {
    display: flex;
    justify-content: center;
    width: 80%;
    border: none;
    font-size: inherit;
    font-family: inherit;
    border-radius: 50px;
    margin: 0.4rem;
    color: white;
    background: #81b645;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #81b645, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #81b645, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.submit {
    width: 100%;
    border: none;
    font-size: inherit;
    font-family: inherit;
    border-radius: 50px;
    margin: 0.25rem 0.25rem;
    padding: 0.65rem 0rem 0.45rem 0rem;
    color: #81b645;
    background-color: white;
}

::placeholder{
    color: white;
}

/* Stop black border appearing around text field when clicked */
input:focus{
    outline: none;
    background-color: #81b645;
}

.switch-container-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 0.85rem 0rem 0.35rem 0;
}

.gender-switch-container {
    position: relative;
    width: 60%;
    border-radius: 50px;
    height: 3rem;
    background: #81b645;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #81b645, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #81b645, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0rem 0.1rem;
}

.unit-switch-container {
    width: 0%;
    border-radius: 50px;
    padding: rem 0.5rem;
    background: #81b645;
}

.slider {
    width: 45%;
    height: 85%;
    border-radius: 50px;
    background: white;
    margin: 0rem 0.1rem;
}

p1 {
    color: #81b645;
    position: absolute;
    margin: 0rem 1.0rem;
}

.male {
    right: 0;
}

.female {
left: 0;
}



